{% extends 'TiffinServicePool/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
        <div class="jumbotron">
          <h1 class="display-4">Password reset</h1>
          <p class="lead">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
          <hr class="my-4">
          <form method="post">
              <p>
                {% csrf_token %}
                {{ form|crispy }}
              </p>
                <p class="lead">
                 <input class="btn btn-success" type="Submit" name="Send email">
                </p>
          </form>
        </div>
{% endblock content %}